/* The header container div will be fixed at the top even if we scroll down the react webpage. The header container contains 3 items/divs in it. */
.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: royalblue;
    display: flex;
  }
  /* The header left div will be the left side of the header.*/
  .header-left {
    align-content:center;
    margin-left: auto;
    width: 25%;
  }
  /* The header mid div will be the middle part of the header. */
  .header-mid {
    align-content: center;
    margin-left: auto;
  }
  /* The header right div will be the right side of the header. */
  .header-right {
    width: 25%;
    align-content: center;
    color: khaki;
  }
  /* Logo of HAcK */
  .hack-logo {
    width: 250px;
  }
  /* Logo of our team (The Technicians) */
  .team-logo {
    width: 125px;
  }

  .mission-container {
    margin-top: 100px;
    width: 100%;
    background-color: moccasin;
    padding: 50px;
  }
  
  .team-intro {
    margin-top: 50px;
    width: 100%;
    padding: 50px;
    background-color: lightgray;
  }
  /* The member-grid div will have a grid pattern designed to have the team members' photo on the left column and the team member info on the right column. */
  .member-grid {
    display: grid;
    margin: 20px;
    grid-template-columns: 500px 1000px;
    grid-template-rows: auto auto auto auto;
    row-gap: 50px;
  }
  
  .philemon-photo {
    width: 400px;
  }

  .min-photo {
    width: 400px;
  }

  .diego-photo {
    width: 400px;
  }
  
  .progress-container {
    margin-top: 50px;
    background-color: moccasin;
    width: 100%;
    padding: 50px;
  }
  /* The progress grid div is the grid pattern used for the "Our Journey" section of the webpage. */
  .progress-grid {
    display: grid;
    grid-template-columns: 800px 800px
  }
  
  .day1intro-photo {
    width: 600px;
  }
  /* The control center header is just used for storing the text "Control Center". */
  .control-center-header {
    margin-top:50px;
    text-align: center;
  }
  /* The control center container  */
  .control-center-container {
    background-color: lightgray;
    width: 100%;
    text-align: center;
    display: flex;
  }
  
  .control-center-left {
    margin-left: 10px;
    width: 30%;
  }

  .keybind-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 2.5px;
  }
  
  .control-center-mid {
    width: 60%;
  }
  
  .control-center-right {
    width: 30%;
    text-align: center;
    margin-right: 10px;
  }